<html>
<head>
    <meta content="utf-8" http-equiv="encoding">
    <title>Demo</title>
    <link rel="stylesheet" href="GenomeFeatureViewer.css">
</head>
<body>
<div class="viewer-border">
    <h3>Combined Egl8</h3>
    <a href="http://dev.wormbase.org:9020/jbrowse/?data=data%2FCaenorhabditis%20elegans&loc=V%3A16238..48260&tracks=DNA%2CUCSC%20Conservation%2CAll%20Genes%2CPhenotypic%20Variants&highlight=">Working example</a></p>
    <svg className="viewer" id="viewer4"/>
</div>
<div class="viewer-border">
    <h3>Combined (make another example)</h3>
    <a href="http://dev.wormbase.org:9020/jbrowse/?data=data%2FCaenorhabditis%20elegans&loc=V%3A16238..48260&tracks=DNA%2CUCSC%20Conservation%2CAll%20Genes%2CPhenotypic%20Variants&highlight=">Working example</a></p>
    <svg className="viewer" id="viewer5"/>
</div>
<p>Basic Demo</p>
<form id="theForm">
    Genome : <input type="text" name="genome"><br>
    Start : <input type="text" name="start"><br>
    End : <input type="text" name="end"><br>
    Chr : <input type="text" name="chr"><br>
    <input type="submit" value="submit">
</form>
<div class="viewer-border">
    <h3>Overview</h3>
    <svg className="viewer" id="viewer1"/>
</div>
<br>
<div class="viewer-border">
    <h3>View 2</h3>
    <svg className="viewer" id="viewer2"/>
    <br>
</div>

<h3>Scrollable</h3>
<svg className="viewer" id="viewer3"/>

<script src="index.js"></script>
<script src="demo.js"></script>
</body>
</html>
